/* index */
#wrap {
    width: 100%;
    /* height: 1500px; */
}
/* header */
#header {
    width: 100%;
    height: 100px;
    background-color: #fff;
}
.header_in {
    margin: 0 auto;
    width: 1460px;
    height: 100px;
    background-color: aliceblue;
    display: flex;
}
.header_in .logo {
    width: 210px;
    height: 100px;
    display: flex;
    align-items: center;
}
.header_in .nav {
    width: 780px;
    height: 100px;
    margin-left: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_in .nav li {
    margin-left: 70px;
}
.header_in .nav li:first-child {
    margin-left: 0;
}
.header_in .nav a {
    font-size: 16px;
    font-weight: 500;
    color: #002F23;
}
.header_in .icons {
    display: flex;
    width: 150px;
    height: 100px;
    margin-left: 185px;
    align-items: center;
}
.header_in .icons img {
    width: 25px;
    height: 25px;
    margin-left: 20px;
    cursor: pointer;
}
.header_in .icons img:last-child {
    width: 20px;
    height: 25px;
}

/* 내용 작업하세요 */


/* main */
#main{
    width: 100%;
    height: 650px;
    background-color: #c2c2c2;
}
.main_in{
    margin: 0 auto;
    width: 1460px;
    height: 650px;
    background-color: rgb(225, 241, 255);
}
.main_in .m_top{
    padding-top: 50px;
}

.m_top ul{
    display: flex;
    
}
.m_top li{
    color: #fff;
}
.m_top li:last-child{
    font-weight: 900;
}
.m_top a{
    color: #fff;
}
.main_in .m_bottom{
    padding-top: 210px;
}
.m_bottom h2{
    text-align: center; 
    color: #fff;
    font-size: 50px;
}

#button{
    width: 100%;
    height: 80px;
    background-color: #004B37;
}
#button ul{
    display: flex;
    
}
#button li{
    width: 480px;
    height: 80px;
}
#button a{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 17px;
    font-weight: 500;
}
#button li:first-child{
    background-color: #fff;
}
#button li:first-child a{
    color: #002F23;
}

#button a:hover{
    background-color: #005f46;
}

#button li:first-child:hover a{
    background-color: #fff;
}

#contents{
    width: 100%;
    height: 4212px;
    background-color: aliceblue;
}
.contents_in{
    margin: 0 auto;
    width: 1460px;
    height: 4212px;
    background-color: rgb(224, 240, 255);
}

/* content1 */
.intro{
    width: 100%;
    height: 325px;
}
.intro h3{
    padding-top: 130px;
    text-align: center; 
    font-size: 30px;
    font-weight: 500;
    color: #004b37;
}

/* content2 */
.map{

}
.map .title{
    margin-bottom: 23px;
}
.map .title p{
    font-size: 23px;
    font-weight: 700;
    color: #002f23;
}
.map_img{
    width: 100%;
    height: 990px;
    background-color: #ededed;
}

/* content3 */
.charge{

}
.charge .title{
    margin-bottom: 23px;
}
.charge .title p{
    font-size: 23px;
}
.ch_top{

}
.ch_bottom{

}

/* content4 */

/* content5 */

















/* footer */
#footer {
    width: 100%;
    height: 300px;
    background-color: #ededed;
}
.footer_in {
    margin: 0 auto;
    display: block;
    width: 1450px;
    height: 300px;
    position: relative;
}
.footer_in .f_top {
    width: 100%;
    height: 90px;
    border-bottom: 3px solid #CFCFCF;
}
.f_top ul {
    position: absolute;
    padding-top: 35px;
    width: 100%;
    height: 50px;
}
.f_top li {
    float: left;
    margin-left: 40px;
}
.f_top li:first-child {
    margin-left: 0;
}
.f_top li a {
    color: #000;
    font-weight: 500;
}
.footer_in .f_bottom {
    width: 100%;
    height: 210px;
}
.f_bottom p {
    font-size: 14px;
    position: absolute;
    bottom: 60px;
}
.f_bottom button {
    width: 200px;
    height: 60px;
    position: absolute;
    top: 170px;
    right: 0;
    font-weight: 600;
    color: #001710;
    font-size: 15px;
    border: 2px solid;
    background-color: #fff;
    cursor: pointer;
}
.footer_in button:hover {
    background-color: #004B37;
    color: #fff;
    border: #001710;
    transition: all 0.5s;
}