/* index */
#wrap {
    width: 100%;
    /* height: 1500px; */
}
/* header */
#header {
    width: 100%;
    height: 100px;
    background-color: #fff;
}
.header_in {
    margin: 0 auto;
    width: 1450px;
    height: 100px;
    /* background-color: aliceblue; */
    display: flex;
}
.header_in .logo {
    width: 210px;
    height: 100px;
    display: flex;
    align-items: center;
}
.header_in .nav {
    width: 780px;
    height: 100px;
    margin-left: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_in .nav li {
    margin-left: 70px;
}
.header_in .nav li:first-child {
    margin-left: 0;
}
.header_in .nav a {
    font-size: 16px;
    font-weight: 500;
    color: #002F23;
}
.header_in .icons {
    display: flex;
    width: 150px;
    height: 100px;
    margin-left: 185px;
    align-items: center;
}
.header_in .icons img {
    width: 25px;
    height: 25px;
    margin-left: 20px;
    cursor: pointer;
}
.header_in .icons img:last-child {
    width: 20px;
    height: 25px;
}

/* 내용 작업하세요 */



/* main */
#main{
    width: 100%;
    height: 650px;
    background: url(../images/garden/background.png)no-repeat;
}
.main_in{
    margin: 0 auto;
    width: 1460px;
    height: 650px;
    /* background-color: rgb(225, 241, 255); */
}
.main_in .m_top{
    padding-top: 50px;
}

.m_top ul{
    display: flex;
    
}
.m_top li{
    color: #fff;
}
.m_top li:last-child{
    font-weight: 900;
}
.m_top a{
    color: #fff;
}
.main_in .m_bottom{
    padding-top: 210px;
}
.m_bottom h2{
    text-align: center; 
    color: #fff;
    font-size: 50px;
}

#button{
    width: 100%;
    height: 80px;
    background-color: #004B37;
}
#button ul{
    display: flex;
    
}
#button li{
    width: 480px;
    height: 80px;
}
#button a{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 17px;
    font-weight: 500;
}
#button li:first-child{
    background-color: #fff;
}
#button li:first-child a{
    color: #002F23;
}

#button a:hover{
    background-color: #005f46;
}

#button li:first-child:hover a{
    background-color: #fff;
}

#contents{
    width: 100%;
    height: 4200px;
    /* background-color: aliceblue;  */
}
.contents_in{
    margin: 0 auto;
    width: 1460px;
    height: 4200px;
    /* background-color: rgb(224, 240, 255); */
}

/* content1 */
.intro{
    width: 100%;
    height: 325px;
}
.intro h3{
    padding-top: 130px;
    text-align: center; 
    font-size: 30px;
    font-weight: 500;
    color: #004b37;
}

/* content2 */
.map{
    margin-bottom: 140px;
}
.map .title{
    margin-bottom: 23px;
}
.map .title p{
    font-size: 23px;
    font-weight: 700;
    color: #002f23;
}
.map_img{
    width: 1453px;
    height: 990px;
    background: url(../images/garden/guidemap.png);
}

/* content3 */
.charge{
    margin-bottom: 140px;
}
.charge .title{
    margin-bottom: 23px;
}
.charge .title p{
    font-size: 23px;
    font-weight: 700;
    color: #002f23;
}

.ch_top{
    margin-bottom: 100px;
}
.ch_top table {
    width: 100%;
    height: 250px;
    text-align: center;
    font-size: 18px;
    color: #422A00;
    border-collapse: collapse;
    margin-top: 30px;
    table-layout: fixed;
}
.ch_top thead tr {
    background-color: #004b37;
    color: #fff;
    font-weight: 500;
    height: 50px;
    border-bottom: none;
    font-size: 20px;
}
.ch_top tbody tr {
    width: 100%;
    border-bottom: 2px solid #ccc;
    background-color: #FFFDF7;
}
.ch_top td {
    padding: 15px;
}

.ch_bottom{
    width: 1460px;
    display: flex;
    justify-content: space-between;
}
.ch_left{
    width: 700px;
    height: 693px;
    text-align: center;
}
.ch_left img{
    width: 700px;
    height: 456px;
}

.title_box1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-left: 115px;
}
.ch_left .title_box1 h3{
    font-size: 30px;
    color: #002f23;
}
.ch_left .title_box1 p{
    font-size: 13px;
    color: #c09a57;
}
.ch_left span{
    margin-top: 14px;
    font-size: 23px;
    color: #745828;
}
.ch_left h5{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
    color: #333333;
}
.ch_left h6{
    margin-top: 6px;
    font-size: 14px;
    font-weight: 500;
    color: #004b37;
}

.ch_right{
    width: 700px;
    height: 693px;
    text-align: center;
}
.ch_right img{
    width: 700px;
    height: 456px;
}
.title_box2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-left: 115px;
}
.ch_right .title_box2 h3{
    font-size: 30px;
    color: #002f23;
}
.ch_right .title_box2 p{
    font-size: 13px;
    color: #c09a57;
}
.ch_right span{
    margin-top: 14px;
    font-size: 23px;
    color: #745828;
}
.ch_right h5{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
    color: #333333;
}
.ch_right h6{
    margin-top: 6px;
    font-size: 14px;
    font-weight: 500;
    color: #004b37;
}


/* content4 */
.utilization{
    margin-bottom: 140px;
}
.utilization .title{
    margin-bottom: 23px;
}
.utilization .title p{
    font-size: 23px;
    font-weight: 700;
    color: #002f23;
}

.ut_top{
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.ut1{
    width: 488px;
    height: 264px;
    border: solid 1px #efdcbc;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ut_text1{
    width: 300px;
}
.ut1 p{
    font-size: 19px;
    font-weight: 600;
    color: #1a3c34;
}
.ut1 ul{
    margin-top: 16px;
    color: #333;
}
.ut1 li{
    margin-top: 4px;
}
.ut1 li:last-child{
    color: #745828;
}

.ut2{
    width: 488px;
    height: 264px;
    border: solid 1px #efdcbc;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ut_text2{
    width: 330px;
}

.ut2 p{
    font-size: 19px;
    font-weight: 600;
    color: #1a3c34;
}
.ut2 ul{
    margin-top: 16px;
    color: #333;
}
.ut2 li{
    margin-top: 4px;
}
.ut2 li:last-child{
    color: #745828;
}

.ut3{
    width: 488px;
    height: 264px;
    border: solid 1px #efdcbc;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ut_text3{
    width: 360px;
}
.ut3 p{
    font-size: 19px;
    font-weight: 600;
    color: #1a3c34;
}
.ut3 ul{
    margin-top: 16px;
    color: #333;
}
.ut3 li{
    margin-top: 4px;
}
.ut3 li:last-child{
    color: #745828;
}

/* content5 */
.rules{
    margin-bottom: 140px;
}
.rules .title{
    margin-bottom: 23px;
}
.rules .title p{
    font-size: 23px;
    font-weight: 700;
    color: #002f23;
}

.ru{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.ru_left{
    width: 781px;
    height: 241px;
}

.ru_left li{
    font-size: 16px;
    line-height: 30px;
}


.ru_txt{
    width: 452px;
    height: 160px;
    background-color: #422a00;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ru_txt p{
    font-size: 17px;
    color: #fff;
}
.ru_txt h4{
    margin-top: 8px;
    font-size: 24px;
    font-weight: 800;
    color: #b08b57;
}
.ru_txt span{
    margin-top: 7px;
    font-size: 12px;
    color: #fff;
}

/* content6 */
.equipment{
    margin-bottom: 190px;
}
.equipment .title{
    margin-bottom: 23px;
}
.equipment .title p{
    font-size: 23px;
    font-weight: 700;
    color: #002f23;
}

.eq table {
    width: 100%;
    height: 330px;
    text-align: center;
    font-size: 18px;
    color: #422A00;
    border-collapse: collapse;
    margin-top: 30px;
}
.eq thead tr {
    background-color: #004b37;
    color: #fff;
    font-weight: 500;
    height: 60px;
    border-bottom: none;
    font-size: 20px;
}
.eq td:first-child{
    width: 260px;
}

.eq tbody tr {
    width: 100%;
    border-bottom: 2px solid #ccc;
}
.eq tbody tr:nth-child(1), tr:nth-child(3) {
    background-color: #FFFDF7;
}
.eq tbody tr:nth-child(2), tr:nth-child(4) {
    background-color: #FFF9E9;
}






/* footer */
#footer {
    width: 100%;
    height: 300px;
    background-color: #ededed;
}
.footer_in {
    margin: 0 auto;
    display: block;
    width: 1450px;
    height: 300px;
    position: relative;
}
.footer_in .f_top {
    width: 100%;
    height: 90px;
    border-bottom: 3px solid #CFCFCF;
}
.f_top ul {
    position: absolute;
    padding-top: 35px;
    width: 100%;
    height: 50px;
}
.f_top li {
    float: left;
    margin-left: 40px;
}
.f_top li:first-child {
    margin-left: 0;
}
.f_top li a {
    color: #000;
    font-weight: 500;
}
.footer_in .f_bottom {
    width: 100%;
    height: 210px;
}
.f_bottom p {
    font-size: 14px;
    position: absolute;
    bottom: 60px;
}
.f_bottom button {
    width: 200px;
    height: 60px;
    position: absolute;
    top: 170px;
    right: 0;
    font-weight: 600;
    color: #001710;
    font-size: 15px;
    border: 2px solid;
    background-color: #fff;
    cursor: pointer;
}
.footer_in button:hover {
    background-color: #004B37;
    color: #fff;
    border: #001710;
    transition: all 0.5s;
}