/* index */
#wrap {
    width: 100%;
    height: 6670px;
}
/* header */
#header {
    width: 100%;
    height: 100px;
    background-color: #fff;
}
.header_in {
    margin: 0 auto;
    width: 1450px;
    height: 100px;
    /* background-color: aliceblue; */
    display: flex;
}
.header_in .logo {
    width: 210px;
    height: 100px;
    display: flex;
    align-items: center;
}
.header_in .nav {
    width: 780px;
    height: 100px;
    margin-left: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_in .nav li {
    margin-left: 70px;
}
.header_in .nav li:first-child {
    margin-left: 0;
}
.header_in .nav a {
    font-size: 16px;
    font-weight: 500;
    color: #002F23;
}
.header_in .icons {
    display: flex;
    width: 150px;
    height: 100px;
    margin-left: 185px;
    align-items: center;
}
.header_in .icons img {
    width: 25px;
    height: 25px;
    margin-left: 20px;
    cursor: pointer;
}
.header_in .icons img:last-child {
    width: 20px;
    height: 25px;
}
/* main */
#main {
    width: 100%;
    height: 870px;
    background-color: #004B37;
}
.main_img {
    margin: 0 auto;
    width: 1450px;
    height: 770px;
}
.main_img h3 {
    font-size: 5rem;
    color: #FFF9E9;
    padding-top: 100px;
}
.main_img .small_t {
    display: flex;
    margin-top: 50px;
}
.main_img .small_t h5 {
    font-size: 20px;
    margin-right: 50px;
    color: #FFF9E9;
    font-weight: 400;
}
.main_bottom {
    width: 100%;
    height: 100px;
    background-color: #FFFDF7;
}
.main_nav {
    margin: 0 auto;
    width: 1450px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_nav ul {
    display: flex;
}
.main_nav li {
    font-size: 14px;
    color: #002F23;
    margin-left: 30px;
}
.main_nav li:first-child {
    margin-left: 0;
}
.main_nav li a {
    font-size: 14px;
    color: #002F23;
}
.main_nav button {
    width: 220px;
    height: 55px;
    font-size: 16px;
    background-color: #FFF9E9;
    border: 1px solid #583800;
    color: #583800;
    cursor: pointer;
}
.main_nav button:hover {
    background-color: #583800;
    color: #fff;
    transition: all 0.5s;
}
#contents {
    width: 100%;
    height: 5400px;
    background-color: lightgreen;
}
/* 5400 = (445 + 760 + 650 + 870 + 740 + 750 + 420 = 4635) + 765 */
/* content1 */
.intro {
    width: 100%;
    height: 445px;
    /* background-color: lightblue; */
}
.intro_inner {
    width: 1450px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 160px;
}
.intro_inner h3 {
    color: #002F23;
    margin-bottom: 20px;
    font-size: 24px;
}
.intro_inner h4 {
    color: #002F23;
    font-size: 16px;
}
/* content2 */
.content2 {
    margin: 0 auto;
    width: 1450px;
    height: 760px;
    background-color: darksalmon;
}
.content3 {
    margin: 0 auto;
    width: 1650px;
    height: 650px;
    background-color: deepskyblue;
}
.content4 {
    margin: 0 auto;
    width: 1450px;
    height: 870px;
    background-color: floralwhite;
}
.content5 {
    margin: 0 auto;
    width: 1450px;
    height: 740px;
    background-color: gold;
}
.content6 {
    margin: 0 auto;
    width: 1450px;
    height: 750px;
    background-color: papayawhip;
}
.content7 {
    margin: 0 auto;
    width: 1450px;
    height: 420px;
    background-color: mediumorchid;
}
/* footer */
#footer {
    width: 100%;
    height: 300px;
    background-color: #ededed;
}
.footer_in {
    margin: 0 auto;
    display: block;
    width: 1450px;
    height: 300px;
    position: relative;
}
.footer_in .f_top {
    width: 100%;
    height: 90px;
    border-bottom: 3px solid #CFCFCF;
}
.f_top ul {
    position: absolute;
    padding-top: 35px;
    width: 100%;
    height: 50px;
}
.f_top li {
    float: left;
    margin-left: 40px;
}
.f_top li:first-child {
    margin-left: 0;
}
.f_top li a {
    color: #000;
    font-weight: 500;
}
.footer_in .f_bottom {
    width: 100%;
    height: 210px;
}
.f_bottom p {
    font-size: 14px;
    position: absolute;
    bottom: 60px;
}
.f_bottom button {
    width: 200px;
    height: 60px;
    position: absolute;
    top: 170px;
    right: 0;
    font-weight: 600;
    color: #001710;
    font-size: 15px;
    border: 2px solid;
    background-color: #fff;
    cursor: pointer;
}
.footer_in button:hover {
    background-color: #004B37;
    color: #fff;
    border: #001710;
    transition: all 0.5s;
}