/* 공통 */
* {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
}
/* index */
#wrap {
    width: 100%;
    height: 6680px;
}
#header {
    width: 100%;
    height: 100px;
    background-color: #fff;
}
.header_in {
    margin: 0 auto;
    width: 1450px;
    height: 100px;
    background-color: aliceblue;
}
#main {
    width: 100%;
    height: 870px;
    background-color: #004B37;
}
.main_img {
    margin: 0 auto;
    width: 1450px;
    height: 770px;
    background-color: lemonchiffon;
}
.main_nav {
    width: 100%;
    height: 100px;
    background-color: #FFFDF7;
}
#contents {
    width: 100%;
    height: 5400px;
    background-color: lightgreen;
}
/* 5400 = (445 + 760 + 650 + 870 + 740 + 750 + 420 = 4635) + 765 */
/* content1 */
.intro {
    width: 100%;
    height: 445px;
    /* background-color: lightblue; */
}
.intro_inner {
    width: 1450px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 160px;
}
.intro_inner h3 {
    color: #002F23;
    margin-bottom: 20px;
    font-size: 24px;
}
.intro_inner h4 {
    color: #002F23;
    font-size: 16px;
}
/* content2 */
.content2 {
    margin: 0 auto;
    width: 1450px;
    height: 760px;
    background-color: darksalmon;
}
.content3 {
    margin: 0 auto;
    width: 1650px;
    height: 650px;
    background-color: deepskyblue;
}
.content4 {
    margin: 0 auto;
    width: 1450px;
    height: 870px;
    background-color: floralwhite;
}
.content5 {
    margin: 0 auto;
    width: 1450px;
    height: 740px;
    background-color: gold;
}
.content6 {
    margin: 0 auto;
    width: 1450px;
    height: 750px;
    background-color: papayawhip;
}
.content7 {
    margin: 0 auto;
    width: 1450px;
    height: 420px;
    background-color: mediumorchid;
}
#footer {
    width: 100%;
    height: 310px;
    background-color: #ededed;
}
.footer_in {
    margin: 0 auto;
    display: block;
    width: 1450px;
    height: 310px;
    position: relative;
}
.footer_in ul {
    position: absolute;
    top: 20px;
}
.footer_in li {
    float: left;
    margin-left: 40px;
}
.footer_in li:first-child {
    margin-left: 0;
}
.footer_in li a {
    color: #000;
    font-weight: 500;
}
.footer_in .line {
    width: 1450px;
    height: 3px;
    background-color: #CFCFCF;
    position: absolute;
    top: 70px;
}
.footer_in p {
    font-size: 12px;
    position: absolute;
    top: 100px;
}
.footer_in span {
    font-size: 12px;
    position: absolute;
    top: 180px;
}