/* index */
#wrap {
    width: 100%;
    height: 6620px;
}
/* header */
#header {
    width: 100%;
    height: 100px;
    background-color: #fff;
}
.header_in {
    margin: 0 auto;
    width: 1450px;
    height: 100px;
    /* background-color: aliceblue; */
    display: flex;
}
.header_in .logo {
    width: 210px;
    height: 100px;
    display: flex;
    align-items: center;
}
.header_in .nav {
    width: 780px;
    height: 100px;
    margin-left: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_in .nav li {
    margin-left: 70px;
}
.header_in .nav li:first-child {
    margin-left: 0;
}
.header_in .nav a {
    font-size: 16px;
    font-weight: 500;
    color: #002F23;
}
.header_in .icons {
    display: flex;
    width: 150px;
    height: 100px;
    margin-left: 185px;
    align-items: center;
}
.header_in .icons img {
    width: 25px;
    height: 25px;
    margin-left: 20px;
    cursor: pointer;
}
.header_in .icons img:last-child {
    width: 20px;
    height: 25px;
}
/* main */
#main {
    width: 100%;
    height: 870px;
    background-color: #004B37;
}
.main_bg {
    margin: 0 auto;
    width: 100%;
    height: 770px;
    position: relative;
}
.main_title {
    /* margin: 0 auto; */
    width: 1450px;
    height: 770px;
    position: absolute;
    left: 220px;
    z-index: 1;
}
.main_title h3 {
    font-size: 5rem;
    color: #FFF9E9;
    padding-top: 100px;
}
.main_title .small_t {
    display: flex;
    margin-top: 50px;
}
.main_title .small_t h5 {
    font-size: 20px;
    margin-right: 50px;
    color: #FFF9E9;
    font-weight: 400;
}
.main_video {
    width: 100%;
    height: 84vh;
    position: relative;
    overflow: hidden;
}
.main_video iframe {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100vw;
    height: 56.25vw;

    min-width: 177.77vh;
    min-height: 100vh;

    transform: translate(-50%, -50%);
    pointer-events: none;
}
.main_bottom {
    width: 100%;
    height: 100px;
    background-color: #FFFDF7;
}
.main_nav {
    margin: 0 auto;
    width: 1450px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_nav ul {
    display: flex;
}
.main_nav li {
    font-size: 14px;
    color: #002F23;
    margin-left: 30px;
}
.main_nav li:first-child {
    margin-left: 0;
}
.main_nav li a {
    font-size: 14px;
    color: #002F23;
}
.main_nav button {
    width: 220px;
    height: 55px;
    font-size: 16px;
    background-color: #FFF9E9;
    border: 1px solid #583800;
    color: #583800;
    cursor: pointer;
}
.main_nav button:hover {
    background-color: #583800;
    color: #fff;
    transition: all 0.5s;
}
#contents {
    width: 100%;
    height: 5350px;
    background-color: #FFFDF7;
}
/* 5400 = (445 + 760 + 650 + 870 + 740 + 750 + 420 = 4635) + 765 */
/* content1 */
.intro {
    width: 100%;
    height: 445px;
    /* background-color: lightblue; */
}
.intro_inner {
    width: 1450px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 240px;
    opacity: 0;
    transition: all 0.7s;
}
.intro_inner.act{
    opacity: 1;
    top: 160px;
}
.intro_inner h3 {
    color: #002F23;
    margin-bottom: 20px;
    font-size: 24px;
}
.intro_inner h4 {
    color: #002F23;
    font-size: 16px;
}
/* contents title */
.title {
    width: 750px;
    height: 100px;
    margin-bottom: 50px;
}
.title p {
    color: #004B37;
    font-size: 25px;
}
.title h4 {
    color: #002D1E;
    font-size: 45px;
}
/* content2 */
.course {
    margin: 0 auto;
    width: 1450px;
    height: 760px;
    /* background-color: darksalmon; */
}
.course > .title {
    position: relative;
    opacity: 0;
    top: 50px;
    transition: all 0.5s;
}
.course > .title.act {
    opacity: 1;
    top: 0;
}
.course .course_list {
    display: flex;
    position: relative;
    top: 80px;
    left: 0;
    opacity: 0;
    transition: all 0.7s;
}
.course .course_list.act {
    opacity: 1;
    top: 0;
}
.course_list li {
    text-align: center;
    margin-right: 36px;
}
.course_list .course_box {
    width: 335px;
    height: 450px;
    background-color: #004B37;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    

    background-size: cover;      
    background-position: center; 
    overflow: hidden;           
    transition: all 0.5s ease;   
}


.course_list .course_box:hover {
    background-size: 110%;
}


.course_list .course_box::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(255, 255, 255, 0); 
    transition: all 0.5s ease;
}

.course_list .course_box:hover::after {
    background-color: rgba(255, 255, 255, 0.3);
}
.course_list li:nth-child(1) .course_box{
    background: url(../images/main/course_sky.jpg) no-repeat center / cover ;     
}
.course_list li:nth-child(2) .course_box{
    background: url(../images/main/course_valley.jpg) no-repeat center / cover;    
}
.course_list li:nth-child(3) .course_box{
    background: url(../images/main/course_lake.jpg) no-repeat center / cover;    
}
.course_list li:nth-child(4) .course_box{
    background: url(../images/main/course_mountain.jpg) no-repeat center / cover;    
}
/* 코스영상 삽입 */
.course_box {
    overflow: hidden;
}
.course_box video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.5s;
}
.course_box:hover video {
    opacity: 1;
}
.course_box img {
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}
.course_list > li > h4 {
    font-size: 24px;
    color: #002F23;
    font-size: 28px;
    font-weight: 500;
    margin-top: 10px;
}
.course_list > li > p {
    font-size: 16px;
    color: #001710;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}
/* content3 */
.club {
    margin: 0 auto;
    width: 1450px;
    height: 650px;
    /* background-color: deepskyblue; */
    position: relative;
    margin-top: 180px;
    opacity: 0;
    transition: all 0.7s;
}
.club.act {
    margin-top: 100px;
    opacity: 1;
}
.club .c_tabs {
    display: flex;
    width: 725px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: space-between;
}
.club .c_tabs li {
    width: 125px;
    height: 40px;
    background-color: #FFF5E2;
    border: 1px solid #745828;
    margin-top: 50px;
    border-radius: 10px;
    font-size: 16px;
    color: #422A00;
    text-align: center;
    line-height: 40px;
    font-weight: 500;
    cursor: pointer;
}
.club .c_tabs li.on {
    background-color: #F2E3C2;
}
/* .club .c_tabs li a {
    display: block;
    margin-top: 7px;
    font-size: 16px;
    color: #422A00;
    text-align: center;
    font-weight: 500;
} */
.c_area {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1600px;
    height: 420px;
    position: absolute;
    left: -75px;
    /* background-color: skyblue; */
}
.c_area_area { 
    width: 1600px;
    height: 420px;
    position: relative;
}
.c_area .l_btn {
    cursor: pointer;
    position: absolute;
    top:200px;
    left:10px;
}
.c_area .r_btn {
    cursor: pointer;
    position: absolute;
    right:10px;
    top:200px;
}
.c_space {
    position: absolute;
    top:0;
    left:50%;
    margin-left: -722.5px;
    width: 1445px;
    height: 420px;
    border: 2px solid #004B37;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    opacity: 0;
    transition: all 1s;
}
.c_space.on{
    opacity: 1;
}
.c_space .space_l {
    width: 50%;
    height: 100%;
    position: relative;
}
.space_l .space_area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 120px;
    color: #001710;
}
.space_name {
    border-right: 1px solid #004731;
    padding-right: 30px;
}
.space_name h5 {
    font-size: 28px;
    font-weight: 500;
}
.space_name h4 {
    font-size: 38px;
    font-weight: 500;
}
.space_intro {
    font-size: 18px;
    padding-left: 30px;
}
.space_l button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 135px;
    height: 40px;
    position: relative;
    top: 50px;
    left: 290px;
    background-color: #FFF5E2;
    border: 1px solid #745828;
    color: #422A00;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.space_l button img {
    width: 15px;
    height: 9px;
    padding-left: 5px;
}
.c_space .space_r {
    width: 50%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.c_space:nth-child(2) .space_r { background: url(../images/main/robby.png) center / cover; }
.c_space:nth-child(3) .space_r { background: url(../images/main/restaurant.png) center / cover; }
.c_space:nth-child(4) .space_r { background: url(../images/main/hall.png) center / cover; }
.c_space:nth-child(5) .space_r { background: url(../images/main/spa.png) center / cover; }
.c_space:nth-child(6) .space_r { background: url(../images/main/pro.png) center / cover; }

/* content4 */
.garden {
    margin: 0 auto;
    width: 1450px;
    height: 870px;
    /* background-color: aqua; */
    margin-top: 180px;
    opacity: 0;
    transition: all 0.7s;
}
.garden.act {
    margin-top: 100px;
    opacity: 1;
}
.garden .g_info {
    margin-top: 20px;
    width: 100%;
    height: 340px;
    background: url(../images/main/garden_info.jpg) no-repeat center / cover;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
}
.garden .g_info::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.garden .g_info a {
    font-size: 40px;
    color: #fff;
    font-weight: 500;
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 1;
}
.garden .g_area {
    display: flex;
    margin-top: 20px;
}
.garden .g_area > div {
    width: 470px;
    height: 280px;
    background-color: #004731;
    border-radius: 20px;
    margin-left: 20px;
    cursor: pointer;
    position: relative;
}
.garden .g_area > div::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.garden .g_area > div:nth-child(1) {
    background: url(../images/main/skyvillage.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;

}
.garden .g_area > div:nth-child(2) {
    background: url(../images/main/valleyA.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
}
.garden .g_area > div:nth-child(3)
 {
    background: url(../images/main/valleyB.jpg) ;
    background-size: cover;
    overflow: hidden;
}

.garden .g_area > div:first-child {
    margin-left: 0;
}
.garden .g_area > div > p {
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 1;
}
/* content5 */
.event {
    margin: 0 auto;
    width: 1450px;
    height: 740px;
    /* background-color: gold; */
    margin-top: 100px;
}
.event > .title {
    position: relative;
    top: 50px;
    left: 0;
    opacity: 0;
    transition: all 0.5s;
}
.event > .title.act {
    top: 0;
    opacity: 1;
}
.event .e_list {
    display: flex;
    overflow: hidden;
    position: relative;
    top: 80px;
    left: 0;
    opacity: 0;
    transition: all 0.7s;
}
.e_list.act {
    top: 0;
    opacity: 1;
}
.e_list li {
    margin-right: 30px;
}
.e_list .e_box {
    width: 350px;
    height: 445px;
    border-radius: 20px;
    cursor: pointer;
}

.e_list li:nth-child(1) .e_box {
    background: url(../images/main/event_1.jpg) no-repeat center / cover;
}


.e_list li:nth-child(2) .e_box {
    background: url(../images/main/event_2.jpg) no-repeat center / cover;
}


.e_list li:nth-child(3) .e_box {
    background: url(../images/main/event_3.jpg) no-repeat center / cover;
}

.e_list li:nth-child(4) .e_box {
    background: url(../images/main/event_4.jpg) no-repeat center / cover;
}


.e_list li:nth-child(5) .e_box {
    background: url(../images/main/event_5.jpg) no-repeat center / cover;
}
.event button {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 135px;
    height: 40px;
    background-color: #FFF5E2;
    border: 1px solid #745828;
    color: #422A00;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    top: 50px;
}
.event button img {
    width: 15px;
    height: 9px;
    padding-left: 5px;
}
/* content6 */
.inquiry {
    margin: 0 auto;
    width: 1450px;
    height: 750px;
    margin-top: 100px;
    /* background-color: papayawhip; */
}
.inquiry > .title {
    position: relative;
    top: 50px;
    left: 0;
    opacity: 0;
    transition: all 0.5s;
}
.inquiry > .title.act {
    top: 0;
    opacity: 1;
}
.inquiry .i_area {
    width: 100%;
    height: 550px;
    position: relative;
    top: 80px;
    left: 0;
    opacity: 0;
    transition: all 0.7s;
}
.i_area.act {
    top: 0;
    opacity: 1;
}
.inquiry .i_area .i_book {
    width: 100%;
    height: 390px;
    background-color: #008959;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.inquiry .i_area .i_book h4 {
    font-size: 35px;
    font-weight: 500;
    color: white;
    text-align: center;
    margin-top: 120px;
}
.inquiry .i_area .i_book p {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 20px;
}
.inquiry .i_area .i_book img {
    margin: 0 auto;
    width: 42px;
    height: 42px;
    cursor: pointer;
    margin-top: 50px;
}
.inquiry .i_guide {
    width: 100%;
    height: 135px;
    display: flex;
    margin-top: 25px;
}
.inquiry .i_guide .guide_box {
    width: 460px;
    height: 135px;
    background-color: #008959;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 35px;
}
.inquiry .i_guide .guide_box:first-child {
    margin-left: 0;
}
.inquiry .i_guide .guide_box p {
    font-size: 20px;
    color: white;
    margin-left: 20px;
}
/* content7 */
.notice {
    margin: 0 auto;
    width: 1450px;
    height: 420px;
    margin-top: 100px;
    /* background-color: mediumorchid; */
}
.notice > .title {
    position: relative;
    top: 50px;
    left: 0;
    opacity: 0;
    transition: all 0.5s;
}
.notice > .title.act {
    top: 0;
    opacity: 1;
}
.notice .n_list {
    width: 100%;
    height: 270px;
    position: relative;
    top: 80px;
    left: 0;
    opacity: 0;
    transition: all 0.7s;
}
.notice .n_list.act {
    top: 0;
    opacity: 1;
}
.notice .n_list li {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    border-bottom: 2px solid #B8B8B8;
    position: relative;
}
.notice .n_list li span {
    width: 100px;
    height: 45px;
    background-color: #008959;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notice .n_list li a {
    font-size: 20px;
    color: #000;
    position: relative;
    left: 180px;
}
.notice .n_list li p {
    font-size: 18px;
    position: absolute;
    right: 60px;
}
/* footer */
#footer {
    width: 100%;
    height: 300px;
    background-color: #ededed;
}
.footer_in {
    margin: 0 auto;
    display: block;
    width: 1450px;
    height: 300px;
    position: relative;
}
.footer_in .f_top {
    width: 100%;
    height: 90px;
    border-bottom: 3px solid #CFCFCF;
}
.f_top ul {
    position: absolute;
    padding-top: 35px;
    width: 100%;
    height: 50px;
}
.f_top li {
    float: left;
    margin-left: 40px;
}
.f_top li:first-child {
    margin-left: 0;
}
.f_top li a {
    color: #000;
    font-weight: 500;
}
.footer_in .f_bottom {
    width: 100%;
    height: 210px;
}
.f_bottom p {
    font-size: 14px;
    position: absolute;
    bottom: 60px;
}
.f_bottom button {
    width: 200px;
    height: 60px;
    position: absolute;
    top: 170px;
    right: 0;
    font-weight: 600;
    color: #001710;
    font-size: 15px;
    border: 2px solid;
    background-color: #fff;
    cursor: pointer;
}
.footer_in button:hover {
    background-color: #004B37;
    color: #fff;
    border: #001710;
    transition: all 0.5s;
}
